[Desktop Entry]
Icon=folder-gdrive
Name=Google Drive
Name[ca]=Google Drive
Name[ca@valencia]=Google Drive
Name[cs]=Google Drive
Name[da]=Google Drev
Name[de]=Google Drive
Name[en_GB]=Google Drive
Name[es]=Google Drive
Name[gl]=Google Drive
Name[he]=Google Drive
Name[ia]=Google Drive
Name[it]=Google Drive
Name[ko]=Google 드라이브
Name[nl]=Google Drive
Name[pl]=Dysk Google
Name[pt]=Google Drive
Name[pt_BR]=Google Drive
Name[sk]=Google Drive
Name[sl]=Google Drive
Name[sv]=Google Drive
Name[tr]=Google Drive
Name[uk]=Google Диск
Name[x-test]=xxGoogle Drivexx
Type=Link
URL=gdrive:/
