[Desktop Entry]
Icon=folder-gdrive
Name=Google Drive
Name[ar]=غوغل درايف
Name[az]=Google Disk
Name[be]=Google Drive
Name[ca]=Google Drive
Name[ca@valencia]=Google Drive
Name[cs]=Google Drive
Name[da]=Google Drev
Name[de]=Google Drive
Name[el]=Google Drive
Name[en_GB]=Google Drive
Name[eo]=Google Drive
Name[es]=Google Drive
Name[et]=Google Drive
Name[eu]=Google Drive
Name[fi]=Google Drive
Name[fr]=Google Drive
Name[gl]=Google Drive
Name[he]=Google Drive
Name[hi]=गूगल ड्राइव
Name[hu]=Google Drive
Name[ia]=Google Drive
Name[id]=Google Drive
Name[ie]=Google Drive
Name[is]=Google Drive
Name[it]=Google Drive
Name[ka]=Google Drive
Name[ko]=Google 드라이브
Name[lt]=„Google“ diskas
Name[lv]=Google disks
Name[nl]=Google Drive
Name[nn]=Google Drive
Name[pl]=Dysk Google
Name[pt]=Google Drive
Name[pt_BR]=Google Drive
Name[ro]=Google Drive
Name[ru]=Google Диск
Name[sa]=गूगल ड्राइव्
Name[sk]=Google Drive
Name[sl]=Google Drive
Name[sv]=Google Drive
Name[ta]=கூகுள் டிரைவ்
Name[tr]=Google Drive
Name[uk]=Google Диск
Name[zh_CN]=Google Drive
Name[zh_TW]=Google 雲端硬碟
Type=Link
URL=gdrive:/
