[Desktop Entry]
Name=Dolphin (Google Drive)
Name[ast]=Dolphin (Google Drive)
Name[ca]=Dolphin (Google Drive)
Name[ca@valencia]=Dolphin (Google Drive)
Name[cs]=Dolphin (Google Drive)
Name[da]=Dolphin (Google Drev)
Name[de]=Dolphin (Google Drive)
Name[en_GB]=Dolphin (Google Drive)
Name[es]=Dolphin (Google Drive)
Name[et]=Dolphin (Google Drive)
Name[fr]=Dolphin (Google Drive)
Name[it]=Dolphin (Google Drive)
Name[nl]=Dolphin (Google Drive)
Name[pl]=Dolphin (Dysk Google)
Name[pt]=Dolphin (Google Drive)
Name[sk]=Dolphin (Google Drive)
Name[sv]=Dolphin (Google Drive)
Name[uk]=Dolphin (Google Диск)
Name[x-test]=xxDolphin (Google Drive)xx
Name[zh_CN]=Dolphin (Google Drive)
Name[zh_TW]=Dolphin（Google 雲端硬碟）
GenericName=Google Drive File Manager
GenericName[ast]=Xestor de ficheros de Google Drive
GenericName[ca]=Gestor de fitxers amb el Google Drive
GenericName[ca@valencia]=Gestor de fitxers amb el Google Drive
GenericName[cs]=Správce souborů Google Drive
GenericName[da]=Filhåndtering til Google Drev
GenericName[de]=„Google Drive“-Dateiverwaltung
GenericName[en_GB]=Google Drive File Manager
GenericName[es]=Gestor de archivos para Google Drive
GenericName[et]=Google Drive'i failihaldur
GenericName[fr]=Gestionnaire de fichiers Google Drive
GenericName[it]=Gestione file di Google Drive
GenericName[nl]=Bestandsbeheerder voor Google Drive
GenericName[pl]=Zarządzanie plikami Dysku Google
GenericName[pt]=Gestor de Ficheiros do Google Drive
GenericName[sk]=Správca súborov Google Drive
GenericName[sv]=Google Drive-filhanterare
GenericName[uk]=Засіб керування файлами Google Диск
GenericName[x-test]=xxGoogle Drive File Managerxx
GenericName[zh_CN]=Google Drive 文件管理器
GenericName[zh_TW]=Google 雲端硬碟檔案管理員
Categories=Qt;KDE;Network;
TryExec=dolphin
Exec=dolphin gdrive://
Icon=system-file-manager
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
